<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.sina.default</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_tw</key>
	<string>默認</string>
	<key>group_name_cn</key>
	<string>默认</string>
	<key>group_name_en</key>
	<string>Default</string>
	<key>display_only</key>
	<string>0</string>
	<key>group_type</key>
	<string>2</string>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[呲牙]</string>
			<key>cht</key>
			<string>[001]</string>
			<key>gif</key>
			<string>001.gif</string>
			<key>png</key>
			<string>001.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[调皮]</string>
			<key>cht</key>
			<string>[002]</string>
			<key>gif</key>
			<string>002.gif</string>
			<key>png</key>
			<string>002.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流汗]</string>
			<key>cht</key>
			<string>[003]</string>
			<key>gif</key>
			<string>003.gif</string>
			<key>png</key>
			<string>003.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>cht</key>
			<string>[004]</string>
			<key>gif</key>
			<string>004.gif</string>
			<key>png</key>
			<string>004.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[再见]</string>
			<key>cht</key>
			<string>[005]</string>
			<key>gif</key>
			<string>005.gif</string>
			<key>png</key>
			<string>005.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[敲打]</string>
			<key>cht</key>
			<string>[006]</string>
			<key>gif</key>
			<string>006.gif</string>
			<key>png</key>
			<string>006.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[擦汗]</string>
			<key>cht</key>
			<string>[007]</string>
			<key>gif</key>
			<string>007.gif</string>
			<key>png</key>
			<string>007.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[猪头]</string>
			<key>cht</key>
			<string>[008]</string>
			<key>gif</key>
			<string>008.gif</string>
			<key>png</key>
			<string>008.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[玫瑰]</string>
			<key>cht</key>
			<string>[009]</string>
			<key>gif</key>
			<string>009.gif</string>
			<key>png</key>
			<string>009.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流泪]</string>
			<key>cht</key>
			<string>[010]</string>
			<key>gif</key>
			<string>010.gif</string>
			<key>png</key>
			<string>010.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大哭]</string>
			<key>cht</key>
			<string>[011]</string>
			<key>gif</key>
			<string>011.gif</string>
			<key>png</key>
			<string>011.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[嘘]</string>
			<key>cht</key>
			<string>[012]</string>
			<key>gif</key>
			<string>012.gif</string>
			<key>png</key>
			<string>012.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[酷]</string>
			<key>cht</key>
			<string>[013]</string>
			<key>gif</key>
			<string>013.gif</string>
			<key>png</key>
			<string>013.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[折磨]</string>
			<key>cht</key>
			<string>[014]</string>
			<key>gif</key>
			<string>014.gif</string>
			<key>png</key>
			<string>014.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[委屈]</string>
			<key>cht</key>
			<string>[015]</string>
			<key>gif</key>
			<string>015.gif</string>
			<key>png</key>
			<string>015.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[便便]</string>
			<key>cht</key>
			<string>[016]</string>
			<key>gif</key>
			<string>016.gif</string>
			<key>png</key>
			<string>016.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[炸弹]</string>
			<key>cht</key>
			<string>[017]</string>
			<key>gif</key>
			<string>017.gif</string>
			<key>png</key>
			<string>017.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[菜刀]</string>
			<key>cht</key>
			<string>[018]</string>
			<key>gif</key>
			<string>018.gif</string>
			<key>png</key>
			<string>018.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可爱]</string>
			<key>cht</key>
			<string>[019]</string>
			<key>gif</key>
			<string>019.gif</string>
			<key>png</key>
			<string>019.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[色]</string>
			<key>cht</key>
			<string>[020]</string>
			<key>gif</key>
			<string>020.gif</string>
			<key>png</key>
			<string>020.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[害羞]</string>
			<key>cht</key>
			<string>[021]</string>
			<key>gif</key>
			<string>021.gif</string>
			<key>png</key>
			<string>021.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[得意]</string>
			<key>cht</key>
			<string>[022]</string>
			<key>gif</key>
			<string>022.gif</string>
			<key>png</key>
			<string>022.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吐]</string>
			<key>cht</key>
			<string>[023]</string>
			<key>gif</key>
			<string>023.gif</string>
			<key>png</key>
			<string>023.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[微笑]</string>
			<key>cht</key>
			<string>[024]</string>
			<key>gif</key>
			<string>024.gif</string>
			<key>png</key>
			<string>024.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发怒]</string>
			<key>cht</key>
			<string>[025]</string>
			<key>gif</key>
			<string>025.gif</string>
			<key>png</key>
			<string>025.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[尴尬]</string>
			<key>cht</key>
			<string>[026]</string>
			<key>gif</key>
			<string>026.gif</string>
			<key>png</key>
			<string>026.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊恐]</string>
			<key>cht</key>
			<string>[027]</string>
			<key>gif</key>
			<string>027.gif</string>
			<key>png</key>
			<string>027.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[冷汗]</string>
			<key>cht</key>
			<string>[028]</string>
			<key>gif</key>
			<string>028.gif</string>
			<key>png</key>
			<string>028.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱心]</string>
			<key>cht</key>
			<string>[029]</string>
			<key>gif</key>
			<string>029.gif</string>
			<key>png</key>
			<string>029.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[示爱]</string>
			<key>cht</key>
			<string>[030]</string>
			<key>gif</key>
			<string>030.gif</string>
			<key>png</key>
			<string>030.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[031]</string>
			<key>cht</key>
			<string>[白眼]</string>
			<key>gif</key>
			<string>031.gif</string>
			<key>png</key>
			<string>031.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[傲慢]</string>
			<key>cht</key>
			<string>[032]</string>
			<key>gif</key>
			<string>032.gif</string>
			<key>png</key>
			<string>032.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[难过]</string>
			<key>cht</key>
			<string>[033]</string>
			<key>gif</key>
			<string>033.gif</string>
			<key>png</key>
			<string>033.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊讶]</string>
			<key>cht</key>
			<string>[034]</string>
			<key>gif</key>
			<string>034.gif</string>
			<key>png</key>
			<string>034.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>cht</key>
			<string>[035]</string>
			<key>gif</key>
			<string>035.gif</string>
			<key>png</key>
			<string>035.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[睡]</string>
			<key>cht</key>
			<string>[036]</string>
			<key>gif</key>
			<string>036.gif</string>
			<key>png</key>
			<string>036.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[亲亲]</string>
			<key>cht</key>
			<string>[037]</string>
			<key>gif</key>
			<string>037.gif</string>
			<key>png</key>
			<string>037.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[憨笑]</string>
			<key>cht</key>
			<string>[038]</string>
			<key>gif</key>
			<string>038.gif</string>
			<key>png</key>
			<string>038.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱情]</string>
			<key>cht</key>
			<string>[039]</string>
			<key>gif</key>
			<string>039.gif</string>
			<key>png</key>
			<string>039.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[衰]</string>
			<key>cht</key>
			<string>[040]</string>
			<key>gif</key>
			<string>040.gif</string>
			<key>png</key>
			<string>040.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[撇嘴]</string>
			<key>cht</key>
			<string>[041]</string>
			<key>gif</key>
			<string>041.gif</string>
			<key>png</key>
			<string>041.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[阴险]</string>
			<key>cht</key>
			<string>[042]</string>
			<key>gif</key>
			<string>042.gif</string>
			<key>png</key>
			<string>042.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[奋斗]</string>
			<key>cht</key>
			<string>[043]</string>
			<key>gif</key>
			<string>043.gif</string>
			<key>png</key>
			<string>043.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发呆]</string>
			<key>cht</key>
			<string>[044]</string>
			<key>gif</key>
			<string>044.gif</string>
			<key>png</key>
			<string>044.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[右哼哼]</string>
			<key>cht</key>
			<string>[045]</string>
			<key>gif</key>
			<string>045.gif</string>
			<key>png</key>
			<string>045.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拥抱]</string>
			<key>cht</key>
			<string>[046]</string>
			<key>gif</key>
			<string>046.gif</string>
			<key>png</key>
			<string>046.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[坏笑]</string>
			<key>cht</key>
			<string>[047]</string>
			<key>gif</key>
			<string>047.gif</string>
			<key>png</key>
			<string>047.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[飞吻]</string>
			<key>cht</key>
			<string>[048]</string>
			<key>gif</key>
			<string>048.gif</string>
			<key>png</key>
			<string>048.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鄙视]</string>
			<key>cht</key>
			<string>[049]</string>
			<key>gif</key>
			<string>049.gif</string>
			<key>png</key>
			<string>049.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[晕]</string>
			<key>cht</key>
			<string>[050]</string>
			<key>gif</key>
			<string>050.gif</string>
			<key>png</key>
			<string>050.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大兵]</string>
			<key>cht</key>
			<string>[051]</string>
			<key>gif</key>
			<string>051.gif</string>
			<key>png</key>
			<string>051.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可怜]</string>
			<key>cht</key>
			<string>[052]</string>
			<key>gif</key>
			<string>052.gif</string>
			<key>png</key>
			<string>052.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[强]</string>
			<key>cht</key>
			<string>[053]</string>
			<key>gif</key>
			<string>053.gif</string>
			<key>png</key>
			<string>053.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[弱]</string>
			<key>cht</key>
			<string>[054]</string>
			<key>gif</key>
			<string>054.gif</string>
			<key>png</key>
			<string>054.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>cht</key>
			<string>[055]</string>
			<key>gif</key>
			<string>055.gif</string>
			<key>png</key>
			<string>055.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[胜利]</string>
			<key>cht</key>
			<string>[056]</string>
			<key>gif</key>
			<string>056.gif</string>
			<key>png</key>
			<string>056.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抱拳]</string>
			<key>cht</key>
			<string>[057]</string>
			<key>gif</key>
			<string>057.gif</string>
			<key>png</key>
			<string>057.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[凋谢]</string>
			<key>cht</key>
			<string>[058]</string>
			<key>gif</key>
			<string>058.gif</string>
			<key>png</key>
			<string>058.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饭]</string>
			<key>cht</key>
			<string>[059]</string>
			<key>gif</key>
			<string>059.gif</string>
			<key>png</key>
			<string>059.png</string>
			<key>type</key>
			<string></string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[蛋糕]</string>
			<key>cht</key>
			<string>[060]</string>
			<key>gif</key>
			<string>060.gif</string>
			<key>png</key>
			<string>060.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[西瓜]</string>
			<key>cht</key>
			<string>[061]</string>
			<key>gif</key>
			<string>061.gif</string>
			<key>png</key>
			<string>061.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[啤酒]</string>
			<key>cht</key>
			<string>[062]</string>
			<key>gif</key>
			<string>062.gif</string>
			<key>png</key>
			<string>062.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[瓢虫]</string>
			<key>cht</key>
			<string>[063]</string>
			<key>gif</key>
			<string>063.gif</string>
			<key>png</key>
			<string>063.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[勾引]</string>
			<key>cht</key>
			<string>[064]</string>
			<key>gif</key>
			<string>064.gif</string>
			<key>png</key>
			<string>064.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[OK]</string>
			<key>cht</key>
			<string>[065]</string>
			<key>gif</key>
			<string>065.gif</string>
			<key>png</key>
			<string>065.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱你]</string>
			<key>cht</key>
			<string>[066]</string>
			<key>gif</key>
			<string>066.gif</string>
			<key>png</key>
			<string>066.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咖啡]</string>
			<key>cht</key>
			<string>[067]</string>
			<key>gif</key>
			<string>067.gif</string>
			<key>png</key>
			<string>067.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[月亮]</string>
			<key>cht</key>
			<string>[068]</string>
			<key>gif</key>
			<string>068.gif</string>
			<key>png</key>
			<string>068.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[刀]</string>
			<key>cht</key>
			<string>[069]</string>
			<key>gif</key>
			<string>069.gif</string>
			<key>png</key>
			<string>069.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发抖]</string>
			<key>cht</key>
			<string>[070]</string>
			<key>gif</key>
			<string>070.gif</string>
			<key>png</key>
			<string>070.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[差劲]</string>
			<key>cht</key>
			<string>[071]</string>
			<key>gif</key>
			<string>071.gif</string>
			<key>png</key>
			<string>071.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拳头]</string>
			<key>cht</key>
			<string>[072]</string>
			<key>gif</key>
			<string>072.gif</string>
			<key>png</key>
			<string>072.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心碎]</string>
			<key>cht</key>
			<string>[073]</string>
			<key>gif</key>
			<string>073.gif</string>
			<key>png</key>
			<string>073.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[太阳]</string>
			<key>cht</key>
			<string>[074]</string>
			<key>gif</key>
			<string>074.gif</string>
			<key>png</key>
			<string>074.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[礼物]</string>
			<key>cht</key>
			<string>[075]</string>
			<key>gif</key>
			<string>075.gif</string>
			<key>png</key>
			<string>075.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[足球]</string>
			<key>cht</key>
			<string>[076]</string>
			<key>gif</key>
			<string>076.gif</string>
			<key>png</key>
			<string>076.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[骷髅]</string>
			<key>cht</key>
			<string>[077]</string>
			<key>gif</key>
			<string>077.gif</string>
			<key>png</key>
			<string>077.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[挥手]</string>
			<key>cht</key>
			<string>[078]</string>
			<key>gif</key>
			<string>078.gif</string>
			<key>png</key>
			<string>078.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闪电]</string>
			<key>cht</key>
			<string>[079]</string>
			<key>gif</key>
			<string>079.gif</string>
			<key>png</key>
			<string>079.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饥饿]</string>
			<key>cht</key>
			<string>[080]</string>
			<key>gif</key>
			<string>080.gif</string>
			<key>png</key>
			<string>080.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[困]</string>
			<key>cht</key>
			<string>[081]</string>
			<key>gif</key>
			<string>081.gif</string>
			<key>png</key>
			<string>081.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咒骂]</string>
			<key>cht</key>
			<string>[082]</string>
			<key>gif</key>
			<string>082.gif</string>
			<key>png</key>
			<string>082.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抓狂]</string>
			<key>cht</key>
			<string>[083]</string>
			<key>gif</key>
			<string>083.gif</string>
			<key>png</key>
			<string>083.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抠鼻]</string>
			<key>cht</key>
			<string>[084]</string>
			<key>gif</key>
			<string>084.gif</string>
			<key>png</key>
			<string>084.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鼓掌]</string>
			<key>cht</key>
			<string>[085]</string>
			<key>gif</key>
			<string>085.gif</string>
			<key>png</key>
			<string>085.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[糗大了]</string>
			<key>cht</key>
			<string>[086]</string>
			<key>gif</key>
			<string>086.gif</string>
			<key>png</key>
			<string>086.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[左哼哼]</string>
			<key>cht</key>
			<string>[087]</string>
			<key>gif</key>
			<string>087.gif</string>
			<key>png</key>
			<string>087.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哈欠]</string>
			<key>cht</key>
			<string>[088]</string>
			<key>gif</key>
			<string>088.gif</string>
			<key>png</key>
			<string>088.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[快哭了]</string>
			<key>cht</key>
			<string>[089]</string>
			<key>gif</key>
			<string>089.gif</string>
			<key>png</key>
			<string>089.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吓]</string>
			<key>cht</key>
			<string>[090]</string>
			<key>gif</key>
			<string>090.gif</string>
			<key>png</key>
			<string>090.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[篮球]</string>
			<key>cht</key>
			<string>[091]</string>
			<key>gif</key>
			<string>091.gif</string>
			<key>png</key>
			<string>091.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
